<!-- Just an image -->
<nav class="navbar navbar-light bg-light" style="padding-left: 20px;">
  <a class="navbar-brand" href="#">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" width="30" height="30" alt="">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" width="30" height="30" alt="">
    <span class="navbar-brand mb-0 h1"> Azure Blob Storage Action ( Upload, Download, Delete )
      using Angular and ASP.Net Core
    </span>
  </a>
</nav>

<app-blob-action></app-blob-action>